<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LiteDBSourceGeneratorLocalFeed" value="../artifacts/source-generator-package-feed" />
    <add key="NuGetToolchain" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
